{{ form_start(workshopForm) }}
    <div class="row">
        <div class="col-xl-6">
            <div class="mb-3">
                {{ form_row(workshopForm.name, {
                    label: 'Name',
                    attr: { placeholder: 'Enter workshop name' }
                })}}
                {# <label for="projectname" class="form-label">Name</label>
                <input type="text" id="projectname" class="form-control" placeholder="Enter workshop name"> #}
            </div>

            <div class="mb-3">
                {{ form_row(workshopForm.program, {
                    label: 'Program',
                    attr: { 
                        'class': 'form-control select2' 
                    }
                })}}
                {# <label for="project-overview" class="form-label">Program</label>
                
                <select class="form-control select2 select2-hidden-accessible" data-toggle="select2" data-select2-id="1" tabindex="-1" aria-hidden="true">
                    <option data-select2-id="3">Select</option>
                    <option value="AZ" data-select2-id="18">Mary Scott</option>
                    <option value="CO" data-select2-id="19">Holly Campbell</option>
                    <option value="ID" data-select2-id="20">Beatrice Mills</option>
                    <option value="MT" data-select2-id="21">Melinda Gills</option>
                </select>
                
                <span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" data-select2-id="2" style="width: 837.55px;">
                    <span class="selection">
                        <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-m1y1-container">
                            <span class="select2-selection__rendered" id="select2-m1y1-container" role="textbox" aria-readonly="true" title="Select">
                                Select a program
                            </span>
                            
                            <span class="select2-selection__arrow" role="presentation">
                                <b role="presentation"></b>
                            </span>
                        </span>
                    </span>
                    <span class="dropdown-wrapper" aria-hidden="true">
                    </span>
                </span> #}
            </div>

            <div class="mb-3">
                {{ form_row(workshopForm.overview, {
                    label: 'Overview',
                    attr: { placeholder: 'Enter some brief about workshop...' }
                })}}
                {# <label for="project-overview" class="form-label">Overview</label>
                <textarea class="form-control" id="project-overview" rows="5" placeholder="Enter some brief about workshop..."></textarea> #}
            </div>

            <div class="mb-3">
                {{ form_row(workshopForm.location, {
                    label: 'Location',
                    attr: { placeholder: 'Enter workshop location' }
                })}}
                {# <label for="workshop-location" class="form-label">Location</label>
                <input type="text" id="workshop-location" class="form-control" placeholder="Enter workshop location"> #}
            </div>

            <!-- Start Date View -->
            <div class="mb-3 position-relative" id="datepicker1">
                {{ form_row(workshopForm.startsAt, {
                    label: 'Start Date',
                    attr: { 
                        'placeholder': 'Pick a start date',
                    }
                })}}
                {# <label class="form-label">Start Date</label>
                <input type="text" class="form-control" data-provide="datepicker" data-date-container="#datepicker1" data-date-format="d-M-yyyy" data-date-autoclose="true"> #}
            </div>

            <!-- End Date View -->
            <div class="mb-3 position-relative" id="datepicker2">
                {{ form_row(workshopForm.endsAt, {
                    label: 'End Date',
                    attr: { placeholder: 'Pick a end date' }
                })}}
                {# <label class="form-label">End Date</label>
                <input type="text" class="form-control" data-provide="datepicker" data-date-container="#datepicker2" data-date-format="d-M-yyyy" data-date-autoclose="true"> #}
            </div>

            <div class="mb-3">
                {{ form_row(workshopForm.capacity, {
                    label: 'Capacity',
                    attr: { placeholder: 'Enter workshop capacity' }
                })}}
                {# <label for="workshop-capacity" class="form-label">Capacity</label> #}
            </div>
        </div>

        {# TODO: Render file uploading #}
        {# {{ include('workshop_admin/_add_attachment.html.twig')}} #}
        
    </div>

    <div class="row">
        <div class="col-xl-12 text-center">
            <button type="submit" class="btn btn-primary" style="width: 50%;">{{ button_text }}</button>
        </div>
    </div>
{{ form_end(workshopForm) }}