{% extends 'base.html.twig' %}

{% block title %}Manage Account!{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/account.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row user-menu-container square">
            <div class="col-md-12 user-details">
                <div class="row spacepurplebg white">
                    <div class="col-md-2 no-pad">
                        <div class="user-image">
                            <img src="#" class="img-responsive thumbnail">
                        </div>
                    </div>
                    <div class="col-md-10 no-pad">
                        <div class="user-pad">
                            <h3>Welcome back, 
                                {% if app.user.email is defined %}
                                    {{ app.user.email }}
                                {% else %} 
                                    please go to verify your email.
                                {% endif %}
                            </h3>
                            {% if app.user.email is defined %}
                                <h4 class="white"><i class="fa fa-twitter"></i> {{ app.user.email }}</h4>
                            {% endif %}
                            <a class="btn btn-labeled btn-info" href="#">
                                <span class="btn-label"><i class="fa fa-pencil"></i></span>Update
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row overview">
                    <h3 class="col-md-3 user-pad"> My Programs: </h3>
                </div>
                <div class="row overview">
                    <div class="col-md-3 user-pad text-center">
                        <img class="programs-img" src="{{ asset('images/programs/BODYATTACK.png') }}">
                    </div>
                    <div class="col-md-3 user-pad text-center">
                        <img class="programs-img" src="{{ asset('images/programs/BODYBALANCE.png') }}">
                    </div>
                    <div class="col-md-3 user-pad text-center">
                        <img class="programs-img" src="{{ asset('images/programs/BODYCOMBAT.png') }}">
                    </div>
                </div>

                <hr>

                <div class="row overview">
                    <h3 class="col-md-3 user-pad"> My Workshops: </h3>
                </div>

                <div class="row overview">
                    <div class="col-md-3 user-pad text-center">
                        <h3>WORKSHOP REGISTERED</h3>
                        <h4>184</h4>
                    </div>
                    <div class="col-md-3 user-pad text-center">
                        <h3>WORKSHOP ATTENDED</h3>
                        <h4>129</h4>
                    </div>
                    <div class="col-md-3 user-pad text-center">
                        <h3>LIKES</h3>
                        <h4>3,892</h4>
                    </div>
                </div>

                {# {% for workshop in workshops %}
                <div class="workshop-container my-1">
                    <a href="{{ path('workshop_show', {slug: workshop.slug}) }}">
                        <img class="workshop-img" src="{{ asset(workshop.imagePath) }}">
                        <div class="workshop-title d-inline-block pl-3 align-middle">
                            <span>{{ workshop.title }}</span>
                            <small>({{ workshop.nonDeletedComments|length }} comments)</small>
                            <br>
                            {% for tag in workshop.tags %}
                                <small>
                                    <span class="badge badge-light">{{ tag.name }}</span>
                                </small>
                            {% endfor %}
                            <br>
                            <span class="align-left workshop-details"><img class="workshop-author-img rounded-circle" src="{{ asset('images/alien-profile.png') }}"> {{ workshop.author }} </span>
                            <span class="pl-5 workshop-details float-right"> {{ workshop.publishedAt ? workshop.publishedAt|ago }}</span>
                        </div>
                    </a>
                </div>
                {% endfor %} #}

            </div>
        </div>
    </div>
{% endblock %}
