<!doctype html>
<html lang="en">

    <head>

        <title>{% block title %}Les Mills Workshop Register ∙ Les Mills Asia Pacific{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/icons.min.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('css/app-modern.min.css') }}" type="text/css" id="light-style">
        {% endblock %}

    </head>

    <body class="show" data-layout="detached" data-layout-config="{leftSidebarCondensed:false, darkMode:false, showRightSidebarOnStart: true}" style="visibility: visible;" data-new-gr-c-s-check-loaded="14.1026.0" data-gr-ext-installed="">

        {% block top_navbar %}
            <div class="navbar-custom topnav-navbar topnav-navbar-dark">
                <div class="container-fluid">
                    {{ include('navbar/navbar_left.html.twig')}}
                    {{ include('navbar/navbar_right.html.twig')}}
                </div>
            </div>
        {% endblock %}

        {# Messages #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        
        {% block main_content %}
            <div class="container-fluid">
                <div class="wrapper menuitem-active">

                    {% block sidebar_left %}
                        {% if is_granted('ROLE_ADMIN' or is_granted('ROLE_INSTRUCTOR')) %}
                            {% if app.user.username is defined %}
                                {{ include('navbar/sidebar_left.html.twig', { 'username': app.user.username }) }}
                            {% else %}
                                {{ include('navbar/sidebar_left.html.twig', { 'username': '' }) }}
                            {% endif %}
                        {% endif %}
                    {% endblock %}

                    
                    <div class="content-page">

                        <div class="content">

                            {% block page_title %}{% endblock %}

                            {% block content_block %}
                                <div class="row">
                                    <div class="col-12">

                                        {% block form_content %}
                                            <div class="card">
                                                <div class="card-body">
                                                </div>
                                            </div>
                                        {% endblock %}

                                    </div>
                                </div>
                            {% endblock %}

                        </div>

                        {% block footer_innerpage %}{% endblock %}

                    </div>
                
                </div>
            </div>
        {% endblock %}

        {% block footer_homepage %}
            {{ include('footer_homepage.html.twig')}}
        {% endblock %}

        {# Impersonation #}
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <div class="alert alert-warning" style="margin-bottom: 0;">
                You are currently switched to this user.
                <a href="{{ path('homepage', {
                    '_switch_user': '_exit'
                }) }}">Exit Impersonation</a>
            </div>
        {% endif %}

        {# JavaScript #}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
            <script src="{{ asset('js/app.min.js') }}"></script>
            <script src="{{ asset('js/vendor.min.js') }}"></script>
        {% endblock %}

    </body>
</html>
